@model UpdateHolidaysViewModel
@{
    ViewBag.Title = "CreateProgram";
}

<div class="main-panel">
    <div class="panel panel-success">
        <div class="panel-heading" style="text-align:center"><h2>Create Program</h2></div>
        <div class="panel-body">
            <form method="post" action="@Url.Action(nameof(HomeController.Index), "Home")">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                        </div>
                    </div>
                </div>
                <hr />
                <input type="submit" value="Create Program" class="btn btn-default" />
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}